<head>
  <link href="https://fonts.googleapis.com/css?family=Dhurjati|Josefin+Sans:700|Poppins:700" rel="stylesheet">
</head>

  <h5><font>by alux : version beta : 2017</font></h5>
  <h2>¡URL SHORTENER!</h2>

  <form id='' action='/urls' method="post">
    <b>URL:</b><br>
    <input id='""' type="text" name="url" size="68" placeholder="                        just paste your boring & looooooooooong url..." required autofocus>
  <input id="submit" type="image" src="https://iconverticons.com/img/logo.png" alt="Submit" width="25" height="25">
  </form>

<%= erb :short_urls_list %>